.logo {
    font-size: 36px;
    color: black;
    -webkit-text-stroke: 1px black;

    span {
        color: white;
        -webkit-text-stroke: 1px black;
    }
}

.font-weight-light {
    font-weight: lighter;
}

.text-decoration-underline {
    text-decoration: underline;
}