.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 40px;
    padding: 0;
    h1 {
        margin-left: 30px;
        margin: 0;
    }
    .logo {
        font-size: 36px;
        color: black;
        -webkit-text-stroke: 1px black;
        
        span {
            color: white;
            -webkit-text-stroke: 1px black;
            }
    }
    .menu {
        display: flex;
        align-items: center;
        button {
            margin: 0 10px;
            font-size: 16px;
            background: none;
            border: none;
            cursor: pointer;
        }
        .cart-button {
            position: relative;
        }
        .sign-out {
            padding: 5px 20px;
            background-color: #000;
            color: white
        }
        .user {
            display: flex;
            align-items: center;
            flex-direction: column;
            span {
                margin: 0 5px;
            }
        }
    }
}

.welcome-section {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
  
    .text-content {
      flex: 2;
      padding-right: 20px;
  
      h1 {
        margin: 0;
        font-size: 40px;
      }
      .light-weight {
        font-weight: lighter;
      }
      p {
        max-width: 600px;
      }
    }
  
    .image-content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .illustration {
        max-width: 100%;
        height: auto;
      }
    }
  }

.promo-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 15px;
    border: solid 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    
    .promo-text {
        flex: 2;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

        h4 {
            font-size: 14px;
            margin: 0;
        }
        .text-muted{
            color: gray;
            margin: 0;
        }
        h2 {
            font-size: 24px;
            margin: 0;
        }
        p {
            margin: 0;
        }
        .shop-now {
            display: inline-block;
            margin-top: 10px;
            color: #000;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .promo-image {
        max-width: 200px;
        height: auto;
    }
}


.product-list {
    max-width: 1200px;
    margin: 20px auto;
  
    h2 {
        font-size: 18px;
        color: #333;
    }
  
    p {
        font-size: 16px;
        font-weight: bold;
        color: #0099ff;
        margin-bottom: 20px;
    }
  
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        justify-items: center;
    }
}
  